<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832894186541-s8igqah3vn5orppsrpp5j5jgsbieeeu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832894186541-s8igqah3vn5orppsrpp5j5jgsbieeeu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA0QsHkff2nGwv-tPTTl5zzdXPQ6N0_DVs</string>
	<key>GCM_SENDER_ID</key>
	<string>832894186541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>my-movies-app-e8e75</string>
	<key>STORAGE_BUCKET</key>
	<string>my-movies-app-e8e75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832894186541:ios:1558bffd06a329c21fb4a4</string>
</dict>
</plist>